config :<%= @app_name %>, <%= @endpoint_module %>,
  live_reload: [
    web_console_logger: true,
    patterns: [
      ~r"priv/static/.*(js|css|png|jpeg|jpg|gif|svg)$",
      ~r"priv/gettext/.*(po)$",
      ~r"lib/<%= @app_name %>_web/(controllers|live|components)/.*(ex|heex)$"
    ]
  ]